.homepage-jobs-section {
  margin-top: 150px;
  
  padding: 1rem 0.5rem;

  background: linear-gradient(to top, #030303 0%, #161616 18%, #696969 100%);
}

.homepage-jobs-title {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.jobs-scroll-container {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.jobs-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Edge */
}
