@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Joan&family=Julius+Sans+One&family=Roboto+Slab:wght@100..900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}
#logo {
  display: flex;

  align-items: center;

  width: 70px;
}
.logo {
  width: 100%;
}
.tittle {
  font-family: "Joan", serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 255, 255);
}
